/*make the header and footer stick so that the backgruond doesnt have a huge gap at the bottom*/

body {
    background-color: DarkOliveGreen; 
    font-family: sans-serif;
    padding: 30px;
  }

.menu {
    width: 80%;
    background-color: Ivory;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    max-width: 1000px;
  }

hr {
    height: 2px;
    background-color: DarkOliveGreen;
    border-color: DarkOliveGreen;
  }

  /* look at aside element later because i dunno how to do this */

  h1 {
    text-align: center;
  }

  .active {
    color: DarkOliveGreen;
  }

  .link {
    color: black;
  }


  /*dashboard*/

  .blog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 8% 0;
  }

  .card {
    padding: 2 rem 2rem 2rem 2rem;
    max-width: 300px
  }

