/*make the header and footer stick so that the backgruond doesnt have a huge gap at the bottom*/

body {
    background-color: DarkOliveGreen; 
    font-family: sans-serif;
    padding: 30px;
  }

.menu {
    width: 80%;
    background-color: Ivory;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    max-width: 1000px;
  }

hr {
    height: 2px;
    background-color: DarkOliveGreen;
    border-color: DarkOliveGreen;
  }

  /* look at aside element later because i dunno how to do this */

  h1 {
    text-align: center;
  }

  .active {
    color: DarkOliveGreen;
  }

  .link {
    color: black;
  }


  /*dashboard*/

  .card {
    /* Add shadows to create the "card" effect */
    max-width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 15px;
    padding: 25px;
    padding: 2rem 2rem 2rem 2rem
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 1000px;
  }

