/*make the header and footer stick so that the background doesnt have a huge gap at the bottom*/
/*when hovering over links make them a different colour*/

body {
    background-color: #647c64; 
    font-family: sans-serif;
    padding: 30px;
  }

  .menu {
    width: 80%;
    background-color: Ivory;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    box-align: center;
  }

hr {
    height: 1px;
    background-color: #384538;
    border-color: #384538;
  }

  /* look at aside element later because i dunno how to do this */

h1 {
  text-align: center;
}

.active {
  color: #384538;
}

.link {
  color: black;
}

nav {
  display: flex;
}

.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: pink;
  box-align: center;
  margin: 20px;
}

.nav {
  float: left;
  display: block;
  padding: 8px;
  background-color: Ivory;
}

/*dashboard*/

table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
  padding: 6px;
  box-align: center;
  margin: 20px;
  background-color: ivory
}

/*blog*/

.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 8% 0;

.container {
  width: 200px;
  height: 300px;
  max-width: 200px;
  max-height: 300px;
  border-width: 2px;
  border-style: solid;
  border-color: black; 
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 10px;
  position: relative;
}

.container:hover {
  box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
}

}

.bloglink {
  padding: 20px;
  border-radius: 20px;
  position: absolute;
  bottom: 10px;
}

